* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: gray;
    word-wrap: break-word;
}

header {
    background-color: #262626;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

}

.wrapper {
    padding-top: 70px;
}

.heading {
    background-color: gray;
    padding: 5px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

a:active {
    color: lightgray;
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 24px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-branding {
    font-size: 2rem;
    color: white;
}

.nav-link {
    transition: 0.7s ease;
}

.nav-link:hover {
    color: dodgerblue;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}


/* Blockchain */

.blockchain-wrapper {
    margin: 100px 20px 0px 20px;
    padding: 10px;
    height: 500px;
    background-color: lightgray;
    border-radius: 10px;
}

.blockchain-wrapper h2 {
    margin: 5px 5px;
    text-align: center;
    background-color: white;
    border-radius: 5px;
}

.input-modell-wrapper {
    margin: 15px 5px 5px 5px;
}

.input-wrapper {
    margin-right: 1%;
    padding: 10px;
    width: 20%;
    height: 430px;
    background-color: white;
    border-radius: 5px;
    font-size: 18px;
    float: left;
}

.input {
    display: block;
    margin-bottom: 5px;
    width: 95%;
}

input {
    font-size: 16px;
}

.sentbtn {
    width: 95%;
    padding: 3px;
}

.modell-wrapper {
    padding: 10px;
    width: 79%;
    height: 430px;
    background-color: white;
    border-radius: 5px;
    float: left;
    overflow: auto;
    overflow-y: hidden;
    white-space: nowrap;
}


@media(min-width: 1px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 60px;
        gap: 0;
        flex-direction: column;
        background-color: #272727;
        width: 100%;
        text-align: center;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }
}